<% layout("./layouts/boilerplate") %>
<body>
    <h1 class="my-4">Listings</h1>

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 w-100">
    <% for(let listings of allListings) { %>
      <div class="card col mb-5">
        <a href="/listings/<%= listings._id %>" class="link-style">
        <img src="<%= listings.image %>" class="card-img-top home-cards" alt="<%= listings.title %>">
        <div class="card-body">
          <h5 class="card-title"><%= listings.title %></h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> &#x20B9;<%= listings.price %>/Per Day</li>
          <li class="list-group-item"><%= listings.capacity %> Peoples</li>
          <li class="list-group-item"><%= listings.location %></li>
        </ul>
    </a>
      </div>
      <% } %>
    </div>

    <!-- <form method="GET" action="/listings/new">
        <button>Add Listings</button>
    </form> -->
</body>
