<% layout("./layouts/boilerplate") %>
<body>
  <% if(filter) { %>
  <form class="row w-100 my-4 bg-secondary-subtle p-4 rounded-pill" method="GET" action="/listings">
    <div class="col w-100">
      <label for="exampleFormControlInput1" class="form-label">Location</label>
      <input
        name="location"
        placeholder="Enter location"
        type="text"
        class="form-control"
      />
    </div>
    <div class="col w-100">
      <label for="exampleFormControlInput1" class="form-label"
        >Price (per day)</label
      >
      <input
        name="price"
        placeholder="Enter price"
        type="number"
        class="form-control"
      />
    </div>
    <div class="col w-100 ">
      <span>Apply Filters</span><br/>
      <button class="btn btn-dark mt-2" type="submit">Search</button>
      <a class="btn btn-danger mt-2" href="/listings">Clear</a>
    </div>
  </form>
  <div class="row w-100">
    <h1 class="my-4 col">Filter Listings</h1>
  </div>
  <% }else{ %>
  <h1 class="my-4">All Listings</h1>
  <% } %>
  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 w-100">
    <% if(allListings.length > 0){ for(let listings of allListings) { %>
    <div class="card col mb-5 border-0 ">
      <a href="/listings/<%= listings._id %>" class="link-style">
        <img
          src="<%= listings.image %>"
          class="card-img-top home-cards rounded-4"
          alt="<%= listings.title %>"
        />
        <div class="card-body p-0 mt-2">
          <h5 class="card-title text-dark"><%= listings.title %></h5>
          <div class="text-dark">
          <h6 class="card-subtitle mb-2 text-body-secondary"><%= listings.location %></h6>
            <h5 class="h5 mt-2">&#x20B9;<%= listings.price %> night</h5>
            
          </div>
        </div>
      </a>
      
    </div>
    <% }}else{ %>
      <p>No Listings</p>
      <% } %>
  </div>

  <!-- <form method="GET" action="/listings/new">
        <button>Add Listings</button>
    </form> -->
</body>
